<main class='main'>
    <div class='main__content'>
  {{#with data}}
      <h1 class='title title--center'>{{name}}</h1>

      <a href='/spotify-track-add?playlistId={{playlistId}}' class='add-button'>
        <img src='/img/svg/Plus.svg' alt='add-button' />
        Add track
      </a>

      <ul class='track__list'>
        {{#each tracks}}
          <li class='track'>
            <img src='{{image}}' width="92px" height="92px"/>
            <div class="track__content">
              <strong class="track__name">{{name}}</strong>
              <e class="track__artist">{{artist}}</em>
            </div>
            {{!-- playlistId={{../playlistId}} - тут ми піднімаємося на рівень вище, в дата і отримуємо айді плейліста 
            trackId={{id}} - це вже цей рівень
            на це вказує наявність чи відсутність "../" - це підйом на рівень вище --}}
            <a href="/spotify-track-delete?playlistId={{../playlistId}}&trackId={{id}}">
              <img src="/img/svg/delete.svg" alt="">
            </a>
          </li>
        {{/each}}
      </ul>



  {{/with}}
    </div>
</main>