<main class='main'>
  <div class='main__content'>
    {{#with data}}
      <h1 class='title title--center'>Add to playlist</h1>
      <div class='track__list'>
        {{#each tracks}}
          <li class='track'>
            <img src='{{image}}' width='92px' height='92px' />
            <div class='track__content'>
              <strong class='track__name'>{{name}}</strong>
              <em class='track__artist'>{{artist}}</em>
            </div>
            {{!-- <a href='{{../link}}'>
              <img src='/img/svg/add.svg' />
            </a> --}}
            <form action="/spotify-track-add" method="POST">
              <input type="hidden" name="playlistId" value="{{../playlistId}}">
              <input type="hidden" name="trackId" value="{{id}}">
              <button type="submit">
                <img src='/img/svg/add.svg' />
              </button>
            </form>
          </li>
        {{/each}}
      </div>
      {{!-- <a href='/spotify-playlist?playlistId=${{playlistId}}' class='return'>Return</a> --}}
    {{/with}}
  </div>
</main>